/* Color palette
#474350 - Dark blue
#FAFAC6 - Light yellow
#FFFFFF - White
#FECDAA - Light pink
#88665D - Light brown
*/

/* Global styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

div.content-wrap {
	width: 70%;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

h2, h3, p, ul {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.col-narrow {
	width: 30%;
	float: left;
	min-height: 175px;
}

.col-wide {
	width: 70%;
	float:left;
	padding-left: 10px;
	min-height: 175px;
}

/* Header and footer */
header, footer {
	background: #474350;
	color: white;
}

header h1, header h2 {
	color: #FAFAC6;
}

img.profile-img {
	border-radius: 10px;
}

header {
	text-align: center;
}

/* Footer */
footer {
	text-align: center;
}

div.contact-info a {
	padding: 10px;
}

/* Work Experience */
section.work {
	background: #FAFAC6;
}

/* Education */
section.education {
	background: #FECDAA;
}