/* Color palette
#474350 - Dark blue
#FAFAC6 - Light yellow
#FFFFFF - White
#FECDAA - Light pink
#88665D - Light brown
*/

/* Global styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
}

h1 {
	font-size: 80px;
	margin: 0;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

h3 {
	margin: 0;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

div.content-wrap {
	width: 70%;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.uppercase {
	text-transform: uppercase;
}

/* Header and footer */
header {
	padding-top: 50px;
}

header, footer {
	background: #474350;
	color: white;
}

header h1, header h2 {
	color: #FAFAC6;
}

img.profile-img {
	width: 90%;
	border-radius: 10px;
}

header .col-wide {
	padding-left: 20px;
}

/* Navigation */
nav {
	text-align: center;
	background: #232426;
	position: fixed;
	top: 0;
	width: 100%;
}

nav a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

nav a:hover {
	opacity: 0.5;
}

/* Footer */
footer {
	text-align: center;
}

div.contact-info a {
	padding: 10px;
}

/* Work Experience */
section.work {
	background: #FAFAC6;
}

h3 ~ p {
	margin: 0;
}

.job-description p:first-of-type {
	margin-top: 0;
}

.job-description {
	margin-bottom: 25px;
}

/* Education */
section.education {
	color: #1f261d;
	background: linear-gradient(rgba(254, 205, 170, 0.5), rgba(254, 205, 170, 0.5)), url("../images/bg.jpg") no-repeat fixed;
	background-size: cover;
}

p + h3 {
	margin-top: 25px;
}

/* Media queries */
@media (min-width: 900px) {
	.col-narrow {
		width: 30%;
		float: left;
	}

	.col-wide {
		width: 70%;
		float:left;
		padding-left: 10px;
	}
}

@media(max-width: 899px) {
	header {
		text-align: center;
	}

	img.profile-img {
		width: 50%;
		border-radius: 10px;
	}
}